@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"width" 100;
}
/* Share Style */
 .btn-primary{
    background-color:#FD6E0A ;
    color:#FFFFFF;
    font-weight: bold;
    padding:15px 18px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
}
.text-color{
    color:#FD6E0A ;
}

.secondary-color{
    background-color: #FFF8F3;
}
.dark1{
    color:#181818;
}
.dark2{
    color:#474747;
    /* font-size:18px; */
}
.dark3{
    color:#757575;
    /* font-size:16px; */

}
.text-center{
    text-align: center;
}


/* header */
.header{
    /* height:100vh; */
    min-height: 100vh;
    background-image: url("images/developer.png") , url("images/header_bg.png");
    background-repeat:no-repeat;
    background-position:top left,bottom right;
    background-size: 120px 100vh, 500px 300px;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0 160px;
    padding:20px 0;
}
.nav-title{
    font-weight: 800;
    font-size: 60px;
}
nav ul{
    display:flex;
    align-items:center;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
    font-size:20px;
}
/* banner styles */
.banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 40px 0 160px ;
}
.banner-content {
    max-width: 400px;
}
.banner-greetings{
    font-size:30px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size:40px;
    padding-top:5px;
}
.banner-description{
    font-size:20px;
    padding:10px 0;
}
.btn{
    margin-right: 10px;
}
.banner-profile-picture{
    width: 350px;
    max-width: 100%;
    height: auto;
    /* height: 200px; */
}

/*share style */
.section-title{
    font-size: 20px;
    font-weight: bold;
    color:#181818;
}
.section-description{
    font-size:16px;
    color:#757575;
}
/* main styles */
main{
    max-width:1000px;
    margin:0 auto;
}
main section{
    margin-top:100px;
    margin-bottom:100px;
}
/*  about section */
.about{
    border-radius:10px;
    padding:100px 120px;
    text-align: center;
    /* margin-top:100px; */
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    padding:20px;
    
}
.about-title , .about-description{
    padding:10px
}

.item-title {
    color:#474747;
    font-weight: 600;
    font-size:18px;
}
.item-description{
    font-weight:500 ;
     color:#757575;
}
/* skills section style */

.skills .section-description{
    padding:30px;
}
.skills-container{
    display:flex;
    gap:20px;
}
.skill{
    padding:30px;
    box-shadow:0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill .skill-title{
    padding:20px 0;
    color:#181818;
    font-size:18px;
}
